/* .cursor {
  display: inline-block;
  width: 1px;
  background-color: black;
  margin-left: 2px;
} */

/* Blink animation for cursor */
.blink {
  opacity: 0;
  transition: opacity 0.5s ease;
}

/* Ensure typing area is a fixed width so "I do" doesn't move */
.typing-area {
  display: inline-block;
  width: 300px; /* Adjust this width based on the longest text */
  white-space: nowrap;
  overflow: hidden;
}
